
{
  "presets": [
    "@babel/preset-env",         
    "@babel/preset-react"
  ],
  "targets": "> 0.25%, not dead",

  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,              // runtime-corejs3 기반 으로 하기
        "regenerator": true,
        "helpers": true
      }
    ]
  ]
}
